/* UNIVERSAL STYLING */

.header {
  text-align: center;
  font-size: 3em;
}

.card-1 {
  margin: 40px 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

body: {
  font-family: 'Roboto', sans-serif!important;
}

/* ADD MOVIE FORM STYLING */

.addMovie {
  margin: auto;
  display: block;
  font-size: 2em;
}

.stars {
  font-size: 2em;
  /* margin-bottom: 20px; */
}

.addMovieHeader {
  font-size: 2em;
  text-align: center;
  padding-top: 20px;
}

.movieForm {
  display: block;
  margin: auto;
  padding: 40px 0px 40px 0px;
  width: 80%;
}

.submitMovieButton {
  background-color: #e91e63;
  color: #fff;
  font-size: 1.2em!important;
  cursor: pointer;
  padding: 15px 50px;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0px!important;
  width: 80%;
}

.submitMovieButton:hover {
  background-color: #C2185B;
  /* transform: scale(1.1); */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* MOVIE PREVIEW STYLING */

.moviePreviewHeader {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0px;
}

.suggestionContent {
  text-align: center;
  /* font-size: 1.2em; */
  padding: 20px 0px;
  margin: 5px 0px!important;
}

.suggestionPoster {
  width: 50%;
}

.suggestionTitleYear, .suggestionGenre, .suggestionActors {
  margin: 8px 0px;
}

.suggestionTitleYear {
  font-size: 1.5em;
  font-weight: 700;
}

.suggestionGenre {
  font-size: 1.4em;
  font-weight: 500;
}

.suggestionActors {
  font-size: 1.3em;
  font-weight: 500;
}

.suggestionRating {
  font-size: 1.4em;
  font-weight: 700;
}

/*  HOME PAGE STYLING */
.homeMovieCard {
  text-align: center;
  font-size: 1.2em;
  margin: 10px;
}

.homePosterImage {
  width: 150px;
  display: block;
  margin: auto;
}
